@using MilkTeaMe.Web.Models.Requests

@{
	ViewData["Title"] = "Login";
}

<section class="vh-100" id="login-page">
	<div class="container-fluid h-custom px-0">
		<div class="row d-flex justify-content-center align-items-center h-100 mx-0">
			<div class="col-md-9 col-lg-6 col-xl-5">
				<div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel">
					<div class="carousel-inner rounded-3">
						<div class="carousel-item active" data-bs-interval="5000">
							<img src="https://res.cloudinary.com/drp7eohjg/image/upload/v1744784582/bg1_l3mfup.jpg" class="d-block w-100" alt="background-milktea">
						</div>
						<div class="carousel-item" data-bs-interval="5000">
							<img src="https://res.cloudinary.com/drp7eohjg/image/upload/v1744784582/bg2_e5m5gi.jpg" class="d-block w-100" alt="background-milktea">
						</div>
						<div class="carousel-item" data-bs-interval="5000">
							<img src="https://res.cloudinary.com/drp7eohjg/image/upload/v1744784582/bg3_uwymyj.jpg" class="d-block w-100" alt="background-milktea">
						</div>
						<div class="carousel-item" data-bs-interval="5000">
							<img src="https://res.cloudinary.com/drp7eohjg/image/upload/v1744784582/bg4_awekhp.jpg" class="d-block w-100" alt="background-milktea">
						</div>
						<div class="carousel-item" data-bs-interval="5000">
							<img src="https://res.cloudinary.com/drp7eohjg/image/upload/v1744784582/bg5_sjdsu0.jpg" class="d-block w-100" alt="background-milktea">
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
				<ul class="nav nav-pills nav-justified mb-3" id="pills-tab" role="tablist">
					<li class="nav-item" role="presentation">
						<button class="nav-link @(ViewBag.ActiveTab == "login" || ViewBag.ActiveTab == null ? "active" : "")" id="pills-login-tab" data-bs-toggle="pill" data-bs-target="#pills-login" type="button" role="tab" aria-controls="pills-login" aria-selected="true">Đăng nhập</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link @(ViewBag.ActiveTab == "register" ? "active" : "")" id="pills-register-tab" data-bs-toggle="pill" data-bs-target="#pills-register" type="button" role="tab" aria-controls="pills-register" aria-selected="false">Đăng ký</button>
					</li>
				</ul>
				<div class="tab-content" id="pills-tabContent">
					<div class="tab-pane fade @(ViewBag.ActiveTab == "login" || ViewBag.ActiveTab == null ? "show active" : "")" id="pills-login" role="tabpanel" aria-labelledby="pills-login-tab">
						@await Html.PartialAsync("_LoginPartial", ViewData["LoginModel"] ?? new LoginRequest())

						<div class="text-center">
							<p>Chưa có tài khoản? <button class="btn btn-link" id="switch-to-register" type="button">Đăng ký ngay</button></p>
						</div>
					</div>
					<div class="tab-pane fade @(ViewBag.ActiveTab == "register" ? "show active" : "")" id="pills-register" role="tabpanel" aria-labelledby="pills-register-tab">
						@await Html.PartialAsync("_RegisterPartial", ViewData["RegisterModel"] ?? new RegisterRequest())
					</div>
				</div>
			</div>
		</div>
		<div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
			<div class="text-white mb-3 mb-md-0">
				MilkTeaMe. Copyright © 2025. All rights reserved.
			</div>
			<div>
				<a href="#!" class="text-white me-4">
					<i class="fab fa-facebook-f"></i>
				</a>
				<a href="#!" class="text-white me-4">
					<i class="fab fa-twitter"></i>
				</a>
				<a href="#!" class="text-white me-4">
					<i class="fab fa-google"></i>
				</a>
				<a href="#!" class="text-white">
					<i class="fab fa-linkedin-in"></i>
				</a>
			</div>
		</div>
	</div>
</section>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			const btn = document.getElementById("switch-to-register");
			btn.addEventListener("click", function () {
				const tab = new bootstrap.Tab(document.querySelector('#pills-register-tab'));
				tab.show();
			});
		});
	</script>
}