<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MilkTeaMe</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="admin-container">
        <nav class="admin-sidebar">
            <h3>Lucky Milk Tea</h3>
            <ul>
              @*   <li><a asp-controller="Dashboard"><i class="bi bi-speedometer2"></i> Dashboard</a></li> *@
                <li><a asp-controller="MilkTeas"><i class="bi bi-cup-straw"></i> Quản lý trà sữa</a></li>
                <li><a asp-controller="Toppings"><i class="bi bi-share"></i> Quản lý topping</a></li>
                <li><a asp-controller="Combos"><i class="bi bi-boxes"></i> Quản lý combo</a></li>
                <li><a asp-controller="Employees"><i class="bi bi-person-gear"></i>Quản lý nhân viên</a></li>
                <li><a asp-controller="Orders"><i class="bi bi-receipt"></i>Quản lý hóa đơn</a></li>
            </ul>
        </nav>
        <div class="admin-content">
            <div class="header d-flex justify-content-between align-items-center px-4">
                <div class="fs-3 fw-bold">@ViewData["HeaderTitle"]</div>

                <form asp-controller="Account" asp-action="Logout" method="post">
                    <button type="submit" class="nav-link btn btn-danger text-dark">Đăng xuất</button>
                </form>
            </div>
            <main>
                @RenderBody()
            </main>
        </div>

    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
